@Html.Partial("_hook_navBarTop")
<a class="nav-link alternate-background-link" href="/about">About</a>
<a class="nav-link alternate-background-link" href="/contact">Contact</a>
@Html.Partial("_hook_navBarBottom")