@model BlogPost

@*
For images use bootstrap's img-fluid class eg;
	<img class="img-fluid" title="title" src="/img/image1.jpg"/>

For code syntax highlighting use :

	<div class="code-container">
		<pre><code class="javascript">{
			var message = "";
}</code></pre>
	</div>

See https://highlightjs.org/static/demo for different code clases eg; 

*@
